<div class="home-page-container">
  <mat-card class="property-card" *ngFor="let property of properties">
    <mat-card-header>
      <mat-card-title>{{ property.title }}</mat-card-title>
      <mat-card-subtitle>{{ property.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="property.image" alt="Property image">
    <mat-card-content>
      <p>{{ property.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/property', property.id]">Detaylar</button>
    </mat-card-actions>
  </mat-card>
</div>
