<div class="container">
  <div class="property-container">
    <section class="property-images">
      <button class="arrow left-arrow" onclick="previousImage()">&#10094;</button>
      <div class="property-image-container">

        <img src="https://www.trendyapiprefabrik.com/upload/100-m2-21-cift-katli-dubleks-prefabrik-ev-2-10837.jpg" alt="Mülk resmi 1" class="property-image">
      <button class="arrow right-arrow" onclick="nextImage()">&#10095;</button>
      </div>
        <div class="property-contact">
        <p class="contact-name">Esat Altunok</p>
        <p class="contact-phone"><strong>Cep:</strong> 0 (535) 295 55 06</p>
      </div>

    </section>

    <section class="property-details">
    <!-- Mülk başlığı -->
    <h1>Gülyakada Genç Binada Otoparklı Geniş 2+1 Daire</h1>

    <!-- Mülk bilgileri -->
    <div class="property-info">
      <p class="property-price">2.600.000 TL</p>
      <p><strong>İlan No:</strong> 1160446983</p>
      <p><strong>İlan Tarihi:</strong> 12 Mart 2024</p>
      <p><strong>Emlak Tipi:</strong> Satılık Daire</p>
      <p><strong>Brüt m²:</strong> 122</p>
      <p><strong>Net m²:</strong> 110</p>
      <p><strong>Oda Sayısı:</strong> 2+1</p>
      <p><strong>Bina Yaşı:</strong> 11-15 arası</p>
      <p><strong>Bulunduğu Kat:</strong> Yüksek Giriş</p>
      <p><strong>Kat Sayısı:</strong> 3</p>
      <p><strong>Isıtma:</strong> Kombi (Doğalgaz)</p>
      <p><strong>Banyo Sayısı:</strong> 2</p>
      <p><strong>Balkon:</strong> Var</p>
      <p><strong>Asansör:</strong> Yok</p>
      <p><strong>Otopark:</strong> Açık & Kapalı Otopark</p>
      <p><strong>Eşyalı:</strong> Hayır</p>
      <p><strong>Kullanım Durumu:</strong> Kiracılı</p>
      <p><strong>Site İçerisinde:</strong> Hayır</p>
      <p><strong>Site Adı:</strong> Belirtilmemiş</p>
      <p><strong>Aidat (TL):</strong> Belirtilmemiş</p>
      <p><strong>Krediye Uygun:</strong> Evet</p>
      <p><strong>Tapu Durumu:</strong> Kat İrtifaklı</p>
      <p><strong>Kimden:</strong> Emlak Ofisinden</p>
      <p><strong>Takas:</strong> Evet</p>
    </div>

    <!-- İletişim bilgileri -->

  </section>
</div>
</div>
